@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f3f4f6; /* สีเทาอ่อน (thumb) และ สีขาว (track) */
}

/* สำหรับ Chrome, Edge, Safari (Webkit) */
.light-scrollbar::-webkit-scrollbar {
  height: 10px; /* ความสูงของ scrollbar แนวนอน */
}

.light-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* สีพื้นหลัง (Track) - สีขาว */
  border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* สีของตัวเลื่อน (Thumb) - สีเทาอ่อน */
  border-radius: 10px;
  border: 3px solid #f3f4f6; /* สร้างขอบสีขาวรอบๆ thumb */
}

.light-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* สีตอนเอาเมาส์ชี้ - สีเทาเข้มขึ้น */
}
